

body { background: #000; }


.leaflet-container { background: #020810; }


.overflow-x-auto::-webkit-scrollbar { height: 5px; }
.overflow-x-auto::-webkit-scrollbar-thumb {
    background: #1d4ed8;
    border-radius: 3px;
}


.row-b { background: #03080f; }
.row-a { background: #020810; }
